@import 'normalize.css';
@import './animation.scss';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: system-ui, sans-serif;
    // overflow-x: hidden;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    line-height: 1.5;
}

// body {
//     background: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
// }

a:hover,
a:focus {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}
a:focus,
a:hover {
    cursor: pointer;
    text-decoration: none;
}

img {
    border: 0;
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    outline: none;
    font-family: system-ui, sans-serif;

    &:hover {
        cursor: pointer;
    }
}

input {
    border: none;
    outline: none;
    font-family: system-ui, sans-serif;
    background-color: transparent !important;

    &:-internal-autofill-selected {
        background-color: transparent !important;
    }
}

p {
    margin: 0;
    padding: 0;
}

body {
    .tippy-box {
        max-width: fit-content !important;
        border-radius: 8px !important;
    }
    .tippy-content {
        padding: 5px 8px !important;
    }
}

.html5-video-player:not(.ytp-transparent),
.html5-video-player.unstarted-mode,
.html5-video-player.ad-showing,
.html5-video-player.ended-mode,
.html5-video-player.ytp-fullscreen {
    background-color: #fff !important;
}

.notify {
    position: fixed;
    bottom: 32px;
    left: 32px;
    width: 22%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    border-radius: 12px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 500;
    // border: 1px solid #000;

    .close-nofify {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: absolute;
        right: 8px;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;

        &:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}

.offline {
    // background warning
    background-color: #000;
    color: #fff;
}

.online {
    // background success
    background-color: #000;
    color: #fff;
    .fa-wifi {
        color: greenyellow;
    }
}
