.wrapperMainPage {
    :global .slide-user {
        margin-bottom: 32px;
        &--title {
            font-size: 32px;
            line-height: 1.2;
            font-weight: 400;
            margin-bottom: 16px;
            text-align: center;
        }

        .lottie {
            height: 250px;
            position: relative;
        }

        &--item {
            width: 100%;
            height: 300px;
            border-radius: 8px !important;
            transition: all 0.5s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }

            img {
                border-radius: 8px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    :global .content {
        &-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
            color: rgba(22, 24, 35, 0.7);
        }

        &-container {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 50px 20px;
            flex-wrap: wrap;
        }

        &-item {
            width: calc(100% / 4 - 15px);
            height: 150px;
            border-radius: 15px;
            position: relative;
            z-index: 1;
            transition: 0.7s;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

                .content-item-info {
                    display: block;
                }
            }

            img {
                width: 100% !important;
                height: 100% !important;
                object-fit: cover;
                border-radius: 15px;
            }

            &-info {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: 2;
                padding: 0 6px 8px;
                border-radius: 0 0 15px 15px;
                display: none;
                transition: all 0.5s ease-in-out;
                background: rgba(255, 255, 255, 0.25);
                box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                border: 1px solid rgba(255, 255, 255, 0.18);

                &-song {
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                }

                &-auth {
                    font-size: 12px;
                    font-weight: 500;
                    color: #fff;
                }
            }
        }
    }

    @media screen and (min-width: 600px) and (max-width: 1023.8px) {
        :global .slide {
            .swiper-slide,
            .swiper-slide-prev,
            .swiper-slide-active {
                transition: all 0.5s ease-in-out;
                transform: scale(1);
            }

            .swiper-slide-next {
                transition: all 0.5s ease-in-out;
                transform: scale(1);
            }
        }
        :global .content {
            &-item {
                width: calc(100% / 2 - 10px);
            }
        }
    }

    @media screen and (max-width: 600px) {
        :global .slide {
            .swiper-slide,
            .swiper-slide-prev,
            .swiper-slide-active {
                transition: all 0.5s ease-in-out;
                transform: scale(1);
            }

            .swiper-slide-next {
                transition: all 0.5s ease-in-out;
                transform: scale(1);
            }
        }

        :global .content {
            &-container {
                gap: 32px 20px;
            }
            &-item {
                width: 100%;
                height: 230px;

                &-info {
                    display: block;
                }
            }
        }
    }
}
