.wrapperHomePage {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px 0 20px;
    padding-top: 66px;
    display: flex;
    gap: 0 20px;
    background: linear-gradient(to bottom, #ebc0fd 0%, #d9ded8 100%);

    :global .left {
        width: 25%;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        padding: 8px 8px;
        height: fit-content;
    }

    :global .right {
        width: 75%;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        padding: 16px;

        .video-container {
            width: 100%;
            // background-color: red;
            height: 500px;
            border-radius: 16px 16px 0 0;
            padding: 32px 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .video {
            width: 80%;
            height: 95%;
            margin: 0 auto;
            border-radius: 20px;
            z-index: 100;

            iframe {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        padding: 0;
        padding-top: 66px;

        :global .left {
            display: none;
        }

        :global .right {
            width: 100%;
            border-radius: 0;
            padding: 12px;
        }
    }
}
