@use '../../../app/styles/variables' as var;

.wrapperHeader {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    :global .header-logo {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 60%;
        gap: 0 5px;

        &-img {
            width: 47px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        h1 {
            color: var.$primary_color;
            font-size: 24px;
            font-weight: 500;
            margin-top: 5px;
        }
    }

    :global .header-search {
        width: 40%;
        height: 70%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        // padding: 0 16px;
        background: rgba(255, 255, 255, 0.4);
        // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
            rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        backdrop-filter: blur(5.5px);
        -webkit-backdrop-filter: blur(5.5px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        position: relative;

        input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;

            font-size: 15px;
            font-weight: 500;
            padding-left: 12px;
            caret-color: var.$primary_color;
        }

        i {
            opacity: 0.7;
            margin-left: 16px;
        }

        .search-box {
            position: absolute;
            top: 100%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            padding: 12px;
            border-radius: 8px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            transition: all 0.8s ease-in-out;

            &-item {
                display: flex;
                align-items: center;
                gap: 0 8px;
                padding: 0 8px;
                // margin-bottom: 6px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.09);

                    border-radius: 8px;
                }

                &-image {
                    width: 40px;
                    height: 40px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    :global .header-option {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 0 12px;

        &-item {
            width: 37px;
            height: 37px;
            border-radius: 50%;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            border: 1px solid rgba(255, 255, 255, 0.18);

            &:hover {
                cursor: pointer;

                i {
                    animation: circle 1s ease-in-out;
                    color: var.$primary_color;
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        padding: 0 8px;
        gap: 0 8px;

        :global .header-logo {
            width: auto;

            h1 {
                display: none;
            }
        }

        :global .header-search {
            flex: 1;
        }

        :global .header-option {
            width: auto;

            &-time {
                display: none;
            }
        }
    }
}

.wrapperTooltip {
    min-width: 300px;
    width: 100%;

    :global .content {
        &-item {
            display: flex;
            align-items: center;
            gap: 0 8px;
            padding: 8px;
            border-radius: 8px;

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.09);
            }

            &-label {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                color: #1877f2;
                z-index: 2;
            }

            &-name {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    :global .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        margin-top: 12px;
        opacity: 0.8;

        &-header {
            display: flex;
            gap: 0 5px;

            span {
                flex: 1;
                font-size: 14px;
                font-weight: 500;
            }

            img {
                width: 20px;
            }
        }
    }
}
