.wrapperVideo {
    width: 100%;
    padding: 0 20px 0 20px;
    padding-top: 66px;
    background: linear-gradient(to bottom, #ebc0fd 0%, #d9ded8 100%);

      :global .video-container {
            width: 100%;
            height: 500px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                filter: blur(8px);
            }

            .video {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                height: 100%;
                margin: 0 auto;
                border-radius: 16px;
                // z-index: 100;

                iframe {
                width: 100%;
                height: 100%;
                border-radius: 16px;
                }
            }
        }

     :global .more {
        width: 100%;
        margin-top: 32px;
        background-color: rgb(255,255,255);
        border-radius: 16px;
            .content-container{
            
                width: 100%;
                display: flex;
                align-items: center;
                gap: 20px;
                flex-wrap: wrap;
            }

            .content-item {
                   
                width: calc(100% / 4 - 18px);
                height: 150px;
                border-radius: 15px;
                position: relative;
                z-index: 1;
                transition: 0.7s;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.05);
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 15px;
                    opacity: 0.8;
                }

                &-info {
                    position: absolute;
                    bottom: 0;
                    left: 8px;
                    z-index: 2;

                    &-song {
                        font-weight: 500;
                        color: #fff;
                    }

                    &-auth {
                        font-size: 14px;
                        font-weight: 500;
                        color: #fff;
                    }
                }
            }
        }

        :global .more-item {
            max-width: 580px;
            width: 100%;
            background-color: rgb(255,255,255);
            border-radius: 16px;
            margin: 32px auto;
            height: 1000px;
        }


    @media screen  and (max-width: 600px) {
        padding: 0;
        padding-top: 66px;
        :global .video-container {
            height: 235px;
            .video {
                width: 100%;
                height: 100%;
                border-radius: 0;


                iframe {
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                }
            }
        }

         :global .more { 
            margin-top: 0;
             border-radius: 0;

             .content-item { 
                width: 100%;
             }
         }
    }

      
}
