@use '../../../app/styles/_variables' as var;

.wrapperVideo {
    width: 100%;
    background: linear-gradient(to bottom, #ebc0fd 0%, #d9ded8 100%);
    // position: relative;

    // :global .fullscreen {
    //     .btn-exit {
    //         display: none;
    //     }
    // }

    :global .fullscreen-enabled {
        .video-container {
            img {
                height: 100vh;
            }
            .video {
                margin-top: 0;
                max-width: none;
                // width: 100%;
                width: 93%;
            }
        }

        .video-container {
            img {
                filter: blur(30px) !important;
            }
        }

        .exit-btn {display: flex !important;}
    }

    :global .video-container {
        width: 100%;
        // height: 471px;
        position: relative;
        margin-bottom: 100px;

        img {
            width: 100%;
            height: 500px;
            filter: blur(8px);
        }

        .video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 65%;
            max-width: 980px;
            width: 100%;
            overflow: hidden;
            margin: 0 auto;
            border-radius: 16px;
            margin-top: 70px;
            padding: 32px;
            // z-index: 100;

            iframe {
                width: 100%;
                height: 100%;
                border-radius: 16px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                aspect-ratio: 16 / 9;

                .html5-video-player:not(.ytp-transparent),
                .html5-video-player.unstarted-mode,
                .html5-video-player.ad-showing,
                .html5-video-player.ended-mode,
                .html5-video-player.ytp-fullscreen {
                    background-color: #fff !important;
                }
            }

            .video-not-found {
                width: 100%;
                height: 500px;
                background-color: rgb(255, 255, 255);
                border-radius: 16px;
                position: relative;

                header {
                    display: flex;
                    align-items: center;
                    gap: 0 8px;
                    position: absolute;
                    top: 8px;
                    left: 8px;

                    .header-item {
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;

                        &:nth-child(1) {
                            background-color: #ff0000;
                        }

                        &:nth-child(2) {
                            background-color: #ff9f00;
                        }

                        &:nth-child(3) {
                            background-color: #00ff00;
                        }
                    }
                }

                &-img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        filter: blur(0) !important;
                        pointer-events: none;
                    }
                }
            }
        }

        .exit-btn {
            display: none; 
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid transparent;
            background-color: var.$primary_color;
            color: #fff;
            position: absolute;
            bottom: 16px;
            right: 16px;
            transition: all 0.3s ease-in-out;
            animation: circle 1.5s ease 1;

            &:hover {
                cursor: pointer;
                background-color: #fff;
                border: 1px solid var.$primary_color;
                color: var.$primary_color;
            }
        }
    }

    :global .btn-fullscreen {
        position: fixed;
        bottom: 40px;
        right: 50px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid transparent;
        background-color: var.$primary_color;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        animation: circle 1.5s ease 1;
        animation-delay: 3s;

        i {
            font-size: 20px;
            color: #fff;
            animation: zoom-in-zoom-out 1.5s ease 5;
            // transition smooth
            transition: all 0.3s ease-in-out;
            animation-delay: 3.1s;
        }

        &:hover {
            cursor: pointer;
            background-color: #fff;
            border: 1px solid var.$primary_color;
            i {
                color: var.$primary_color;
            }
        }
    }

    :global .content {
        max-width: 916px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        gap: 0 20px;

        &-left {
            width: 30%;
            background-color: rgb(255, 255, 255);
            border-radius: 16px;
            height: fit-content;
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .auth-info {
                text-align: center;
            }

            .auth-img {
                width: 130px;
                height: 130px;
                position: relative;

                img {
                    width: 100% !important;
                    height: 100% !important;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .auth-name {
                font-size: 14px;
                font-weight: 500;
            }

            span {
                font-size: 22px;
                font-weight: 500;
                margin-top: 8px;
            }
        }

        &-right {
            width: 70%;
            background-color: rgb(255, 255, 255);
            border-radius: 16px;
            padding: 16px;
            flex: 1;

            .content-title {
                font-size: 18px;
                font-weight: 500;
            }

            .item {
                display: flex;
                align-items: center;
                gap: 0 12px;
                margin-bottom: 8px;
                border-radius: 8px;
                padding: 8px;

                &:hover {
                    cursor: pointer !important;
                    background-color: rgba(22, 24, 35, 0.2);
                }

                a:hover {
                    text-decoration: none;
                    cursor: pointer;
                }

                &-img {
                    width: 200px;
                    height: 100px;
                    border-radius: 10px;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }

                &-info {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;

                    &-auth {
                        font-size: 14px;
                        color: #7f8c8d;
                    }

                    &-type {
                        font-size: 12px;
                        font-weight: 600;
                        &::first-letter {
                            text-transform: uppercase;
                        }

                        .sadness {
                            color: #f5b7b1;
                        }

                        .mood {
                            color: #f9e79f;
                        }

                        .lofi {
                            color: #a9cce3;
                        }
                    }
                }
            }

            .active {
                background-color: rgba(22, 24, 35, 0.1);
            }
        }
    }

    @media screen and (max-width: 600px) {
        :global .btn-fullscreen {
            display: none;
        }

        :global .video-container {
            margin-bottom: 0;
            img {
                height: 0;
            }

            .video {
                width: 100%;
                border-radius: 0;
                padding: 0;
                // margin-top: 76px;
                position: unset;
                transform: translate(0);

                iframe {
                    border-radius: 0;
                }

                .video-not-found {
                    border-radius: 0;
                }
            }
        }

        :global .content {
            flex-direction: column;
            margin: 0;

            &-left {
                width: 100%;
                border-radius: 0;
                align-items: flex-start;
                flex-direction: row;
                gap: 0 12px;

                .auth-info {
                    text-align: start;
                    flex: 1;
                }

                .auth-name {
                    font-size: 14px;
                    color: #7f8c8d;
                    margin: 0;
                }

                .auth-song {
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 0;
                }

                .auth-img {
                    width: 70px;
                    height: 70px;
                }
            }

            &-right {
                width: 100%;
                border-radius: 0;

                .item-img {
                    width: 170px;
                }

                .item-info {
                    flex-direction: column;
                }
            }
        }
    }

    @media screen and (min-width: 600px) and (max-width: 1023.8px) {
        :global .fullscreen-enabled {
            .video-container {
                .video {
                    width: 95%;
                }
            }
        }
        :global .video-container {
            margin-bottom: 190px;
            img {
                height: 380px;
            }
            .video {
                width: 100%;
                margin-top: 120px;
                padding: 16px;
            }
        }

        :global .content {
            padding: 0 16px;
            gap: 0 8px;
        }
    }

    @media screen and (min-width: 1024px) and (max-width: 1200px) {
        :global .fullscreen-enabled {
            .video-container {
                .video {
                    width: 93%;
                }
            }
        }
    }

    // @media screen and (min-width: 2560px) {
    //     :global .video-container {
    //         .video {
    //             width: 35%;
    //         }
    //     }
    // }
}
