.wrapperHomePage {
    width: 100%;
    min-height: 100vh;
    padding: 0 20px 0 20px;
    padding-top: 66px;
    display: flex;
    gap: 0 20px;
    background: linear-gradient(to bottom, #ebc0fd 0%, #d9ded8 100%);

    :global .left {
        width: 25%;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        padding: 8px 8px;
        height: fit-content;
        top: 66px;
        position: sticky;
        z-index: 10;
    }

    :global .right {
        width: 75%;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        padding: 16px;
        height: fit-content;
    }

    @media screen and (max-width: 600px) {
        padding: 0;
        padding-top: 66px;
        flex-direction: column;

        :global .left {
            // display: ;
            width: 100%;
            border-radius: 0;
            // display: flex;
            position: fixed !important;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
        }

        :global .right {
            width: 100%;
            border-radius: 0;
            padding: 12px;
        }
    }

    @media screen and (min-width: 600px) and (max-width: 1023.8px) {
        gap: 0 10px;
    }
}
